<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color:black;" defaultHref="" (click)="modalController.dismiss()" ></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <ion-img src="assets\logo\inflatable_island.png"></ion-img>
    </ion-avatar>
    <ion-title>Inflatable Island Challenges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item (click)="presentModal()">
      <ion-label>Selfie Challenge</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
          <img src="../assets/icon/logo.png">
      </ion-avatar>
      <ion-label>Explore Challenge</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Facebook Challenge</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Twitter Challenge</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Food Challenge</ion-label>
    </ion-item>
  </ion-list> -->

  <!--<ion-card>
     <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/adventure.png">
      </ion-avatar>
      <ion-label>Explorer Badge (1/4)</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      Explore the whole island
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/selfie.png">
      </ion-avatar>
      <ion-label>Selfie Badge</ion-label>
      <ion-button fill="outline" slot="end" (click)="presentModal()">View</ion-button>
    </ion-item>

    <ion-card-content>
      Take a selfie and post it on facebook
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-item text-center>
      <ion-avatar>
        <img src="assets/icon/facebook.png">
      </ion-avatar>
      <ion-label class="title">Facebook Badge</ion-label>
    </ion-item>
    
    <ion-card-content class="details">
      Share the facebook page of inflatable <br>
      Use the '#InflatableIsland' on your post <br>
      Privacy of your post must be public <br>
      <div text-center>
        <ion-button (click)="presentModal()">Accept</ion-button>
        <ion-button (click)="presentModal()">View Rewards</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/twitter.png">
      </ion-avatar>
      <ion-label>Twitter Badge</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      Tweet and tag @inflableisland
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/instagram.png">
      </ion-avatar>
      <ion-label>Twitter Badge</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      Post a photo in instagram
    </ion-card-content>
  </ion-card> -->

</ion-content>
