ion-toolbar{
  --background: #a1e0e8;      
}
ion-title{
  font-family: 'kidson';
  font-weight: bolder;
  font-size: 35px;
  --color: black;
}
.title{
  font-family: bubbleboddy;
  font-size: 23px;
  color: black;
}
.details{
  color: black;
  font-family: bbl;
  font-size: 18px;
}

ion-button{
  --background:#ff842f;
  --border-radius  : 50px;

  // width: 50%;
}
