<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="modalController.dismiss()" ></ion-back-button>
    </ion-buttons>
    <ion-title>Instruction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- <ion-thumbnail>
        <img src="assets/icon/selfie.png">
      </ion-thumbnail> -->
      <!-- <ion-img [src]="'assets/icon/selfie.png'"></ion-img> -->
      <img src="assets/icon/facebook.png">
      <ion-card-subtitle>To get this badge follow the following instructions.</ion-card-subtitle>
      <ion-card-title>{{ challenge.title }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content style="white-space: pre">
      {{ challenge.instruction }}
      <!-- The background should be the floating island <br> -->
    </ion-card-content>
  </ion-card>
  <ion-content padding>
    <ion-button style="float: right" (click)="share()">Accept</ion-button>
  </ion-content>
</ion-content>
