<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="power" (click)="logout()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="text-align: center">
      <img src="assets/icon/avatar.png" width="200" height="200" alt="">
      <h3>Dela Cruz, Juan</h3>
  </div>
  <h5>Badges Collected</h5>
  <ion-grid>
    <ion-row>
      <ion-col style="margin-top: auto">
        <img src="assets/icon/adventure.png" alt="">
      </ion-col>
      <ion-col style="margin-top: auto">
        <img src="assets/icon/facebook.png" alt="">
      </ion-col>
      <ion-col style="margin-top: auto">
        <img src="assets/icon/forest.png" alt="">
      </ion-col>
      <ion-col style="margin-top: auto">
        <img src="assets/icon/outdoor.png" alt="">
      </ion-col>
      <ion-col style="margin-top: auto">
        <img src="assets/icon/selfie.png" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
  <h5>Visited places</h5>
  <ion-grid>
    <ion-row>
      <ion-col size=3 >
        <img src="assets/icon/inflatable_island.png" alt="">
      </ion-col>
      <ion-col size=3>
        <img src="assets/pins/3.png" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
