<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="modalController.dismiss()"></ion-back-button>
    </ion-buttons>
    <ion-title>Inflatable Rewards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        Free Bottled Water
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="assets/icon/adventure.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-label>
        10% discount on next visit
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="assets/icon/explore.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-label>
        Free Souvenir shirt
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="assets/icon/facebook.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>
