<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="modalController.dismiss()"></ion-back-button>
    </ion-buttons>
    <ion-title>Inflatable Rewards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      <img src="assets/icon/facebook.png">
      <ion-card-subtitle>Reward</ion-card-subtitle>
      <ion-card-title>{{ challenge.rewards }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Complete the challenge to get facebook badge.
    </ion-card-content>
  </ion-card>


</ion-content>


