<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="isInflatable">
      <ion-back-button defaultHref=""  (click)="loadBusiness()"></ion-back-button>
    </ion-buttons>
    <ion-thumbnail slot="start" *ngIf="!isInflatable" >
      <img src="assets/icon/logo.png" alt="">
    </ion-thumbnail>
    <ion-thumbnail slot="start" *ngIf="isInflatable" >
      <img src="assets/logo/inflatable_island.png" alt="">
    </ion-thumbnail>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons slot="end" *ngIf="isInflatable">
      <ion-icon slot="icon-only" name="medal" (click)="presentReward()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div id="map_canvas" style="height: 100%; width: 100%">
  <ion-button style="float: right" *ngIf="isInflatable" (click)="presentModal()">
    <ion-icon slot="start" name="star"></ion-icon>
    Challenges
  </ion-button>
</div>
