<ion-header>
  <ion-toolbar>
    <ion-title>
      Leaderboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="users">
    <ion-item *ngFor="let u of users">
      <ion-avatar slot="start">
        <img [src]="u.picture">
      </ion-avatar>
      <ion-label>
        {{ u.name }}
      </ion-label>
      <!-- <ion-thumbnail slot="end">
        <img src="assets/medal/gold.png">
      </ion-thumbnail> -->
    </ion-item>
    <!-- <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/avatar.png">
      </ion-avatar>
      <ion-label>
        Dominic Betita (99)
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="assets/medal/bronze.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/avatar.png">
      </ion-avatar>
      <ion-label>
        Cedric Labrador (36)
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="assets/medal/silver.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/avatar.png">
      </ion-avatar>
      <ion-label>
        Mart Macion (20)
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="assets/medal/blank.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/avatar.png">
      </ion-avatar>
      <ion-label>
        Dendi Delos Santos (10)
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="assets/medal/blank.png">
      </ion-thumbnail>
    </ion-item> -->
  </ion-list>
</ion-content>
