@font-face {
  font-family: 'Bubbleboddy';
  src: url('./assets/fonts/Bubbleboddy-FatTrial.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'videopheak';
  src: url('./assets/fonts/VIDEOPHREAK.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'digits';
  src: url('./assets/fonts/Digits.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'bbl';
  src: url('./assets/fonts/Bubbleboddy-ExtraLightTrial.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'kidson';
  src: url('./assets/fonts/kidson.ttf');
  font-weight: 200;
  font-style: normal;
}